@font-face
  font-family: 'icomoon'
  src:  url('common/fonts/icomoon.eot?g4l9gw')
  src:  url('common/fonts/icomoon.eot?g4l9gw#iefix') format('embedded-opentype'),
    url('common/fonts/icomoon.ttf?g4l9gw') format('truetype'),
    url('common/fonts/icomoon.woff?g4l9gw') format('woff'),
    url('common/fonts/icomoon.svg?g4l9gw#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-home2:before
  content: "\e901"

.icon-image:before
  content: "\e90d"

.icon-connection:before
  content: "\e91b"

.icon-coin-yen:before
  content: "\e93e"

.icon-envelop:before
  content: "\e945"

.icon-location2:before
  content: "\e948"

.icon-compass:before
  content: "\e949"

.icon-compass2:before
  content: "\e94a"

.icon-floppy-disk:before
  content: "\e962"

.icon-bubble:before
  content: "\e96b"

.icon-bubble2:before
  content: "\e96e"

.icon-user:before
  content: "\e971"

.icon-users:before
  content: "\e972"

.icon-user-plus:before
  content: "\e973"

.icon-spinner3:before
  content: "\e97c"

.icon-search:before
  content: "\e986"

.icon-cog:before
  content: "\e994"

.icon-briefcase:before
  content: "\e9ae"

.icon-power:before
  content: "\e9b5"

.icon-plus:before
  content: "\ea0a"

.icon-arrow-left2:before
  content: "\ea40"

.icon-mail2:before
  content: "\ea84"

.icon-flickr4:before
  content: "\eaa6"


